.happy-new-year {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.happy-new-year .div {
  background-color: #ffffff;
  height: 7335px;
  overflow: hidden;
  position: relative;
  width: 1600px;
}

.happy-new-year .group {
  height: 806px;
  left: 399px;
  position: absolute;
  top: 770px;
  width: 803px;
}

.happy-new-year .div-wrapper {
  height: 107px;
  left: 209px;
  position: absolute;
  top: 0;
  width: 385px;
}

.happy-new-year .text-wrapper {
  color: #ff0000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 88px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
}

.happy-new-year .group-2 {
  height: 651px;
  left: 0;
  position: absolute;
  top: 155px;
  width: 803px;
}

.happy-new-year .group-3 {
  height: 103px;
  left: 196px;
  position: absolute;
  top: 0;
  width: 414px;
}

.happy-new-year .p {
  color: #ff0000;
  font-family: "Inter-Medium", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 7px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  margin-bottom: 100px;
  top: 0;
}

.happy-new-year .text-wrapper-2 {
  color: #070211;
font-family: "Inter-Bold", Helvetica;
font-size: 48px;
font-weight: 700;
left: 0;
letter-spacing: 0;
line-height: normal;
position: absolute;
text-align: center;
top: 60px;
white-space: nowrap;


}

.happy-new-year .vector {
  height: 500px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 151px;
  width: 803px;
}

.happy-new-year .overlap {
  background-image: url(../resources/Banner\ Image.png);
  background-size: 100% 100%;
  height: 600px;
  left: 140px;
  position: absolute;
  top: 50px;
  width: 1320px;
}

.happy-new-year .group-wrapper {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);;
  background-size: 100% 100%;
  border-radius: 16px;
  height: 600px;
}

.happy-new-year .group-4 {
  height: 246px;
  left: 344px;
  position: relative;
  top: 177px;
  width: 632px;
}

.happy-new-year .group-5 {
  height: 246px;
}

.happy-new-year .group-6 {
  height: 246px;
  position: relative;
  width: 636px;
}

.happy-new-year .text-wrapper-3 {
  color: #ffffff;
  font-family: "Merriweather-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 186px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
}

.happy-new-year .text-wrapper-4 {
  color: #ffffff;
  font-family: "Merriweather-Black", Helvetica;
  font-size: 72px;
  font-weight: 900;
  left: 0;
  letter-spacing: 0;
  line-height: 95px;
  position: absolute;
  text-align: center;
  top: 56px;
  width: 632px;
}
.happy-new-year .group-35 {
  background-image: url(../resources/Vectorrr.png);
  background-size: 100% 100%;
  height: 600px;
  left: 140px;
  position: absolute;
  top: 1700px;
  width: 1320px;
}
.happy-new-year .textback {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);;
  background-size: 100% 100%;
  border-radius: 16px;
  height: 600px;
}
.happy-new-year .imagerr {
  display:inline-block;
width: 319.83px;
height: 464.662px;
padding: 0.008px 0px 0px 0px;
flex-direction: column;
justify-content: center;
align-items: center;
flex-shrink: 0;
}
.happy-new-year .textn {
  height: 246px;
  left: 126px;
  position: relative;
  top: 100px;
  width: 632px;
}

.happy-new-year .textm {
  height: 246px;
}

.happy-new-year .texto {
  height: 246px;
  position: relative;
  width: 636px;
}
.happy-new-year .texttp {
  display: inline-block;
}
.happy-new-year .textct {
  color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;
}

.happy-new-year .textmt {
  color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.happy-new-year .button1{
  margin-top: 50px;
  left: 158px;
  color: #070211;
}
.happy-new-year .buttonjoinnow{
text-align: center;
font-size: 20px;
font-weight: 700;
padding: 5px;
}
.happy-new-year .boxit {
  background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
  background-size: 100% 100%;
  height: 482px;
  left: 140px;
  position: absolute;
  top: 2450px;
  width: 1320px;
}
.happy-new-year .boxct {
  color: #F00;
text-align: center;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px; /* 175% */
text-transform: capitalize;
}
.happy-new-year .boxcrt {
  color: #070211;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;
}
.happy-new-year .boxtp {
  margin-top: 50px;
}

.happy-new-year .button2 {
  display: inline-flex;
padding: 16px 32px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: #F00;
margin-left: 600px;
margin-top: 50px;
}
.happy-new-year .buttonjoin {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding: 5px;
}
.happy-new-year .group-7 {
  height: 1163px;
  left: 140px;
  position: absolute;
  top: 4807px;
  width: 1320px;
}

.happy-new-year .group-8 {
  height: 1163px;
  position: relative;
  width: 1326px;
}

.happy-new-year .text-wrapper-5 {
  color: #ff0000;
  font-family: "Inter-Medium", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.happy-new-year .text-wrapper-6 {
  color: #070211;
  font-family: "Merriweather-Black", Helvetica;
  font-size: 48px;
  font-weight: 900;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 45px;
}

.happy-new-year .text-wrapper-7 {
  color: #07021199;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 127px;
  width: 896px;
}

.happy-new-year .rectangle {
  height: 450px;
  left: 0;
  position: absolute;
  top: 239px;
  width: 424px;
}

.happy-new-year .rectangle-2 {
  height: 450px;
  left: 0;
  position: absolute;
  top: 713px;
  width: 424px;
}

.happy-new-year .rectangle-3 {
  height: 450px;
  left: 448px;
  object-fit: cover;
  position: absolute;
  top: 239px;
  width: 424px;
}

.happy-new-year .rectangle-4 {
  height: 450px;
  left: 448px;
  object-fit: cover;
  position: absolute;
  top: 713px;
  width: 424px;
}

.happy-new-year .rectangle-5 {
  height: 450px;
  left: 896px;
  object-fit: cover;
  position: absolute;
  top: 239px;
  width: 424px;
}

.happy-new-year .rectangle-6 {
  height: 450px;
  left: 896px;
  object-fit: cover;
  position: absolute;
  top: 713px;
  width: 424px;
}

.happy-new-year .overlap-group-wrapper {
  height: 609px;
  left: 0;
  position: absolute;
  top: 6826px;
  width: 1600px;
flex-shrink: 0;
}

.happy-new-year .overlap-group {
  background-color: #070211;
  height: 609px;
  position: relative;
  width: 1600px;
}

.happy-new-year .line {
  height: 1px;
  left: 140px;
  background: rgba(255, 255, 255, 0.15);
  position: absolute;
  top: 249px;
  width: 1320px;
}

.happy-new-year .line-2 {
  height: 1px;
  left: 140px;
  background: rgba(255, 255, 255, 0.15);
  position: absolute;
  top: 409px;
  width: 1320px;
}

.happy-new-year .group-9 {
  width: 64px;
height: 64px;
flex-shrink: 0;

}
.happy-new-year .icon11 {
  display: inline-block;
  margin-top: 298px;
  margin-left: 640px;
}
.happy-new-year .group-10 {
  height: 80px;
  left: 140px;
  position: absolute;
  top: 120px;
  width: 1187px;
}

.happy-new-year .element-big-building {
  color: #ffffff;
  font-family: "Inter-Medium", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 0;
}

.happy-new-year .group-11 {
  height: 80px;
  left: 934px;
  position: absolute;
  top: 0;
  width: 251px;
}

.happy-new-year .group-12 {
  height: 40px;
  left: 0;
  position: absolute;
  top: 40px;
  width: 253px;
}

.happy-new-year .frame {
  height: 24px;
  left: 0;
  position: absolute;
  top: 8px;
  width: 24px;
}

.happy-new-year .text-wrapper-8 {
  color: #ffffff;
  font-family: "Inter-Medium", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 40px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.happy-new-year .group-13 {
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 237px;
}

.happy-new-year .text-wrapper-9 {
  color: #ffffff;
  font-family: "Inter-Medium", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 140px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 460px;
}

.happy-new-year .text-wrapper-10 {
  color: #ffffff;
  font-family: "Inter-Medium", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 1315px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 460px;
}

.happy-new-year .group-14 {
  background-color: #ff00000d;
  border-radius: 16px;
  height: 616px;
  left: 140px;
  position: absolute;
  top: 6090px;
  width: 1320px;
}

.happy-new-year .group-15 {
  height: 336px;
  left: 212px;
  position: absolute;
  top: 80px;
  width: 896px;
}

.happy-new-year .group-16 {
  height: 150px;
  left: 373px;
  position: absolute;
  top: 0;
  width: 150px;
}

.happy-new-year .group-17 {
  height: 146px;
  left: 0;
  position: absolute;
  top: 190px;
  width: 900px;
}

.happy-new-year .text-wrapper-11 {
  color: #070211;
  font-family: "Merriweather-Black", Helvetica;
  font-size: 48px;
  font-weight: 900;
  left: 192px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
}

.happy-new-year .text-wrapper-12 {
  color: #07021199;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  text-align: center;
  top: 82px;
  width: 896px;
}

.happy-new-year .overlap-wrapper {
  height: 72px;
  left: 336px;
  position: absolute;
  top: 464px;
  width: 650px;
}

.happy-new-year .overlap-2 {
  height: 72px;
  position: relative;
}

.happy-new-year .rectangle-7 {
  background-color: #ffffff;
  border-radius: 50px;
  height: 72px;
  left: 0;
  position: absolute;
  top: 0;
  width: 648px;
}

.happy-new-year .text-wrapper-13 {
  color: #0702114c;
  font-family: "Inter-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 25px;
}

.happy-new-year .group-18 {
  height: 72px;
  left: 438px;
  position: absolute;
  top: 0;
  width: 212px;
}

.happy-new-year .overlap-group-2 {
  background-color: #ff0000;
  border-radius: 0px 50px 50px 0px;
  height: 72px;
  position: relative;
  width: 210px;
}

.happy-new-year .text-wrapper-14 {
  color: #ffffff;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 56px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 24px;
  white-space: nowrap;
}

.happy-new-year .overlap-3 {
  height: 465px;
  left: 140px;
  position: absolute;
  top: 3018px;
  width: 1320px;
}

.happy-new-year .group-19 {
  height: 463px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1320px;
}

.happy-new-year .group-20 {
  height: 255px;
  left: 0;
  position: absolute;
  top: 104px;
  width: 395px;
}

.happy-new-year .group-21 {
  height: 105px;
  left: 0;
  position: absolute;
  top: 0;
  width: 332px;
}

.happy-new-year .text-wrapper-15 {
  color: #ff0000;
  font-family: "Inter-Medium", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
}

.happy-new-year .text-wrapper-16 {
  color: #07021199;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 200px;
  width: 393px;
}

.happy-new-year .group-22 {
  height: 463px;
  left: 463px;
  position: absolute;
  top: 0;
  width: 463px;
}

.happy-new-year .overlap-group-3 {
  border-radius: 231.5px;
  height: 463px;
  position: relative;
}

.happy-new-year .ellipse {
  height: 365px;
  left: 49px;
  position: absolute;
  top: 49px;
  width: 365px;
}

.happy-new-year .ellipse-2 {
  border: 15px solid;
  border-color: #ff0000;
  border-radius: 231.5px;
  height: 463px;
  left: 0;
  position: absolute;
  top: 0;
  width: 463px;
}

.happy-new-year .group-23 {
  height: 170px;
  left: 1044px;
  position: absolute;
  top: 112px;
  width: 276px;
}

.happy-new-year .group-24 {
  height: 170px;
  position: relative;
  width: 280px;
}

.happy-new-year .text-wrapper-17 {
  color: #ff0000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 48px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.happy-new-year .text-wrapper-18 {
  color: #07021199;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 74px;
  width: 276px;
}

.happy-new-year .group-25 {
  height: 140px;
  left: 1044px;
  position: absolute;
  top: 325px;
  width: 140px;
}

.happy-new-year .group-26 {
  height: 986px;
  left: 140px;
  position: absolute;
  top: 3601px;
  width: 1320px;
}

.happy-new-year .overlap-4 {
  height: 986px;
  position: relative;
}

.happy-new-year .group-27 {
  height: 986px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1320px;
}

.happy-new-year .group-28 {
  height: 662px;
  left: 0;
  position: absolute;
  top: 200px;
  width: 1320px;
}

.happy-new-year .overlap-group-4 {
  background-image: url(../resources/Rectangle\ 1.png);
  background-repeat: no-repeat;
  background-position-x: right;
  height: 662px;
  position: relative;
}

.happy-new-year .rectangle-8 {
  height: 229px;
  left: 0;
  position: absolute;
  top: 433px;
  width: 1320px;
}

.happy-new-year .group-29 {
  height: 662px;
  left: 0;
  position:absolute;
  top: 0;
  width: 796px;
}
.happy-new-year .group-44444 {
  width: 206.841px;
height: 206.841px;
flex-shrink: 0;
margin-left: 60%;
margin-top: 10%;
}

.happy-new-year .group-30 {
  height: 260px;
  left: 126px;
  position: absolute;
  top: 0;
  width: 1070px;
}

.happy-new-year .group-31 {
  height: 136px;
  left: 195px;
  position: absolute;
  top: 0;
  width: 677px;
}

.happy-new-year .group-32 {
  height: 136px;
  position: relative;
  width: 681px;
}

.happy-new-year .text-wrapper-19 {
  color: #070211;
  font-family: "Inter-Medium", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 207px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.happy-new-year .holidays-sale {
  color: transparent;
  font-family: "Merriweather-Black", Helvetica;
  font-size: 72px;
  font-weight: 900;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 20px;
  white-space: nowrap;
}
.happy-new-year .paragraph4 {
  color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 32px; 
margin-bottom: 40px;/* 160% */
}

.happy-new-year .span {
  color: #ff0000;
}

.happy-new-year .text-wrapper-20 {
  color: #070211;
}

.happy-new-year .dolor-sit-amet {
  color: #07021199;
  font-family: "Inter-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  text-align: center;
  top: 164px;
  width: 1068px;
}

.happy-new-year .group-33 {
  height: 433px;
  left: 738px;
  position: absolute;
  top: 324px;
  width: 582px;
}

.happy-new-year .overlap-5 {
  height: 433px;
  position: relative;
}

.happy-new-year .rectangle-9 {
  height: 433px;
  left: 153px;
  position: absolute;
  top: 0;
  width: 429px;
}

.happy-new-year .group-34 {
  height: 306px;
  left: 0;
  position: absolute;
  top: 77px;
  width: 306px;
}

.happy-new-year .group-36 {
  height: 272px;
  left: 385px;
  position: relative;
  top: 100px;
  width: 551px;
}

.happy-new-year .place-new-park-hotel {
  color: transparent;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 32px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: 56px;
  position: absolute;
  text-align: center;
  top: 0;
}

.happy-new-year .join-now-wrapper {
  align-items: center;
  background-color: #ff0000;
  border-radius: 8px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 191px;
  padding: 16px 32px;
  position: absolute;
  top: 216px;
}

.happy-new-year .join-now {
  color: #ffffff;
  font-family: "Inter-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}